<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/views/profile.handlebars">View Profile</a>
        <a href="/views/allusers.handlebars">View All Users</a>
        <a href="/views/allusers.handlebars">Search for User</a>
        {{!-- <a href="">Saved Users</a> --}}
         {{#if logged_in}}
        <button id ="logoutBtn">Logout</button>
        {{else}}
        <a href="/views/login.handlebars">Login</a>
        {{/if}}
    </nav>

    <h1>Welcome to the wishlist site!</h1>

    <main>
        {{{body}}}
    </main>

    <footer>This is the footer</footer>
    <script src="/public/js/logout.js"></script>
</body>
</html>