<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7be49024ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/"><i class="fa-solid fa-house fa-2x"></i></a>
        <a href="/profile"><i class="fa-solid fa-user fa-2x"></i></a>
        <!-- <a href="/views/allusers.handlebars">View All</a>
        <a href="/views/allusers.handlebars">Search for User</a> -->
        {{!-- <a href="">Saved Users</a> --}}
        {{#if loggedIn}}
        <button id ="logoutBtn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>
<br>
    <footer>This is the footer</footer>
    <script src="/js/logout.js"></script>
</body>
</html>