<h1>Find a Friend or Family Member</h1>
<h2>All Users</h2>
{{#each listitems}}
    <div class="card">
        {{!-- user information --}}
    </div>
    <h2>Find Someone</h2>
    {{!-- search for specific user  --}}

    <script src="/public/js/user.js"></script>