{{!-- <h1>Find a Friend or Family Member</h1>
<h2>All Users</h2>
{{#each wishlists}}
     {{name}}
{{/each}}
<h2>Find Someone</h2>
{{!-- search for specific user --}}
<form id="searchUser">
    <input type="text" name="searchUser" id="searchUser" placeholder="User Name">
    <button>search</button>
</form>
<script src="/js/user.js"></script> --}}


{{#each users}}
<div>
    <p>{{username}}
    </p>
</div>
    <hr>
{{/each}}