<h1>Member Directory</h1>

{{! search for specific user }}
<form id="searchUser" class="row my-3">
  <div class="col-sm-10 input-group mb-2">
    <div class="input-group-text"><i class="fa-solid fa-at"></i></div>
    <input
      type="text"
      class="form-control"
      id="searchUsername"
      placeholder="search usernames"
    />
  </div>
  <div class="col">
    <button class="btn btn-outline-success" type="submit">search</button>
  </div>
</form>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
  {{#each this}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <a href="/api/users/{{id}}"><h5>{{username}}</h5></a>
          <p class="text-muted">{{first_name}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/user.js"></script>