<h1>Welcome to the Wish List Site!</h1>
<img src="https://place-puppy.com/300x300" alt="placeholder puppy">
<p>Login or sign up to create your wish lists. </p>
<p>Click View Profile to view your wish lists.You can add links to items from many different sites.</p>
<p>Click View All to see all users. </p>
<p>Click Search to find a person by their username.</p>
<br>
<a href="#">Random Item</a>