<h1>Welcome to the Wishlist Site!</h1>

<div class="row mt-5">
  <div class="col">
    <img src="/img/list.jpg" class="home-img" />
    <div class="col d-flex justify-content-center align-items-center flex-wrap">
      <h4 class="w-100">Create and manage your lists</h4>
      <button class="btn btn-info"><a class="text-white" href="/login">Join now</a></button>
      <button class="btn btn-warning">
        <a href="/random">Random Wish List</a>
      </button>
    </div>
  </div>
</div>

<script src="/js/nodemailer.js"></script>