<h2>Login Page</h2>
<form action="" id="login">
    <input type="text" name="loginUser" id="loginUser" placeholder="loginUser">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<hr>

<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" name="signupUser" id="signupUser" placeholder="username">
    <input type="text" name="signupFirst" id="signupFirst" placeholder="first name">
    <input type="text" name="signupLast" id="signupLast" placeholder="last name">
    <input type="password" name="signupPassword" id="signupPassword" placeholder="password">
    <button>Signup</button>
</form>

<script src="/js/login.js"></script>