<h1>Welcome to your Profile Page!</h1>
<h2>My Wish List</h2>

{{#each listitems}}
    <div class="card">
        {{!-- wish list item info --}}
        <button>update</button>
        <button>delete</button>
        {{!-- checkmark is purchased? --}}
    </div>
    <h2>Add an Item</h2>
    {{!-- add item form  --}}
{{/each}}

<script src="/public/js/profile.js"></script>