<h1>Welcome to your Profile Page!</h1>
<h2>My Wish List</h2>

{{#each listitems}}
    <div class="card">
        {{!-- wish list item info --}}
        <button>update</button>
        <button>delete</button>
        {{!-- checkmark is purchased? --}}
    </div>
    <h2>Add an Item</h2>
    {{!-- add item form  --}}
    <form action="" id="addItem">
    <input type="text" name="itemName" id="itemName" placeholder="Item Name">
    <input type="text" name="description" id="description" placeholder="Item Description">
    <input type="text" name="link" id="link" placeholder="Link">
    <input type="number" name="quanity" id="quanity" placeholder="Quanity">
    <button>Add</button>
</form>
{{/each}}

<script src="/public/js/profile.js"></script>