<link rel="stylesheet" href="/css/tootips.css">
<h1>{{first_name}}'s Wishlists</h1>

<button
  type="button"
  class="btn"
  data-bs-toggle="modal"
  data-bs-target="#wishlistModal"
><i class="fa-solid fa-file-circle-plus fa-2x"></i></button>

<div
  class="modal fade"
  id="wishlistModal"
  tabindex="-1"
  aria-labelledby="wishlistModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="wishlistModal">Add a new wishlist</h1>
        <button
          id="listBtn" 
          aria-describedby="tooltip"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ><div id="listTooltip" role="tooltip">Add Wishlist <div id="listArrow" data-popper-arrow></div></div></button>
      </div>
      <div class="modal-body">
        <form id="addWishlist">
          <input
            type="text"
            class="form-control mb-3"
            id="wishlistName"
            placeholder="your wishlist's name"
          />
          <button type="submit" class="btn btn-primary">Create wishlist</button>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn"
  data-bs-toggle="modal"
  data-bs-target="#mailModal"
><i class="fa-solid fa-envelope fa-2x"></i></button>

<div
  class="modal fade"
  id="mailModal"
  tabindex="-1"
  aria-labelledby="mailModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mailModal">Send your wishlist</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" id="sendWishlist">
          <input
            type="email"
            class="form-control mb-3"
            id="sendingEmail"
            placeholder="your email"
          />
          <input
            type="email"
            class="form-control mb-3"
            id="receivingEmail"
            placeholder="your friend's email"
          />
          <button type="submit" class="btn btn-primary">Send wishlist</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  {{#each wishlists}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <a href="/api/wishlists/{{id}}"><h3>{{name}}</h3></a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/profile.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="/js/tooltips.js"></script>